@model Inmobiliaria.Models.Casa



<h4>Casa</h4>
<hr />
<div class="row fondotabla">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CasaID" />
            <div class="form-group">
                <label asp-for="CasaNombre" class="control-label"></label>
                <input asp-for="CasaNombre" class="form-control" />
                <span asp-validation-for="CasaNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Domicilio" class="control-label"></label>
                <input asp-for="Domicilio" class="form-control" />
                <span asp-validation-for="Domicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropietarioNombre" class="control-label"></label>
                <input asp-for="PropietarioNombre" class="form-control" />
                <span asp-validation-for="PropietarioNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <img width="200" src='@Url.Action("ConvertirImagen", "Casas", new { id = Model.CasaID })' />
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn botong mb-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn botonv mb-3">Volver</a>
</div>

